/*------Base Styles------*/



* {
    box-sizing: border-box;
}

h1 {
    background-color: rgb(0, 84, 218);
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.newsletter_signup h2 {
    margin-bottom: 0;
}

.newsletter_signup {
    padding-right: .5rem;
    padding-bottom: 1.5rem;
    padding-left: .5rem;
    margin: 0 1rem;
    text-align: center;
    border-bottom: 4px solid black;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

div {
    max-width: 500px;
}

.form_container {
    padding-top: 1.5rem;
    margin: .3rem 1rem 0 1rem;
    border-top: 2px solid black;
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
}

input[type="text"]:focus {
    background-color: lightblue;
} 

input[type="email"]:focus {
    background-color: lightblue;
}

input[type="tel"]:focus {
    background-color: lightblue;
}

select:focus {
    background-color: lightblue;
} 

#topic:focus {
    background-color: lightblue;
} 

.flex_fieldset1, 
.flex_fieldset2 {
    padding-top: 1rem;
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.flex_fieldset1 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

.flex_fieldset2 {
    padding-bottom: 0rem;
    margin-top: 2rem;
    border-bottom: none;
}

.flex_fieldset1 label {
    margin-bottom: .25rem;
}

.flex_fieldset1 input, 
select {
    background-color: rgb(231, 230, 230);
    border: none;
    border-radius: 4px;
    height: 3rem;
    margin-top: .3rem;
    margin-bottom: 1.25rem;
}

#topic {
    background-color: rgb(231, 230, 230);
    border: none;
    border-radius: 4px;
    height: 6rem;
    width: 100%;
    margin-top: 1rem;
}

#zip {
    width: 50%;
}

#html_newsletter, 
#html_format {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#css_newsletter {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#plain_text_format {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

#javascript_newsletter {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

[placeholder="Required"] {
    text-align: right;
    padding-right: 1rem;
    font-style: italic;
}

[type="checkbox"] {
    margin-right: .6rem;
}

[type="radio"] {
    margin-right: .6rem;
}

button {
    background-color: rgb(0, 166, 255);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    width: 100%;
}

footer {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}



/*------FlexBox------*/ 

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.newsletter_signup, 
.form_container {
    display: flex;
    flex-direction: column;
}

.flex_fieldset1 {
    display: flex;
    flex-direction: column;
}

.signup_button, 
.footer_class {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------Media Queries------*/



@media (min-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    .newsletter_signup {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .newsletter_signup h2 {
        margin-bottom: .3rem;
    }

    .newsletter_signup p {
        margin-top: 0;
    }

    legend {
        font-size: 1.3rem;
    }

    .flex_fieldset1 {
        margin-top: .5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex_fieldset1 label {
        flex-basis: 20%;
        margin-right: 5%;
        align-self: center;
        padding-top: 1.2rem;
    }

    .flex_fieldset1 input, 
    select {
        flex-basis: 75%;
        margin-top: 1.2rem;
        margin-bottom: 0;
    }

    #zip {
        flex-basis: 25%;
        margin-bottom: 1rem;
    }
}